<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div class="logo text-center mt-5"><a class="logo-link" routerLink="/home"><p>BloggApp</p></a></div>
                <div class="footer-links mt-2">
                    <ul class="list-unstyled">
                        <li><a class="footer-link-item" routerLink="/home" >Home</a></li>
                        <li><a class="footer-link-item" routerLink="/posts" >Posts</a></li>
                        <li><a class="footer-link-item" routerLink="/community" >Communities</a></li>
                        <li><a class="footer-link-item" routerLink="/contact-us" >Contact Us</a></li>
                        <li><a class="footer-link-item" routerLink="/about-us" >About Us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 verticalline">
        <div class="row">
            <div class="col-lg-12 text-center social-links">
                <a class="icon-link" href="https://www.instagram.com/" target="_blank"><i class="col-lg-1 fa fa-instagram my-auto  "></i></a>
                <a class="icon-link" href="https://www.facebook.com/" target="_blank"><i class="col-lg-1 fa fa-facebook my-auto"></i></a>
                <a class="icon-link" href="https://twitter.com/" target="_blank"><i class="col-lg-1 fa fa-twitter my-auto"></i></a>
                <a class="icon-link" href="https://www.linkedin.com/" target="_blank"><i class="col-lg-1 fa fa-linkedin my-auto"></i></a>
            </div>
            <div class="row my-2">
                <div class="col-lg-12 text-center mx-3 copyright-text">
                    
                    <p>&copy;Copyright. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
