#community-title{
    font-family: 'Poppins',sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #760000;
    margin-top: 50px;
}

#flairs{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #C00000;
    padding: 0px 10px;
    width: fit-content;
    margin-top: 20px;
    margin-right: 20px; 
    margin-bottom: 20px;
    border-radius: 20px; 
}

#members{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(41, 41, 41);
    margin-top: 20px;
    width: fit-content; 
    padding: 0;
}

#desc{
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #585858;
    margin-top: 20px;
}

#meta-row{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    margin-top: 50px;
    padding: 0;
}