
<!------ Include the above in your HEAD tag ---------->


<section class="text-center about">
    <h1 style="text-align:center" font-family="Poppins"> <br> Nice to Meet You!<br>
    <!-- <br> ABOUT US  -->
    </h1><br> 
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
          <span class="fa fa-group"></span>
          <h2> <br> What is blog? </h2>
          <p class="lead"> <br> A blog is an online diary or journal located on a website. The content of a blog typically includes text, pictures, videos, animated GIFs and even scans from old physical offline diaries or journals and other hard copy documents. Since a blog can exist merely for personal use, sharing information with an exclusive group or to engage the public, a blog owner can set their blog for private or public access. </p>
        </div>
        <div class="col-lg-4 col-sm-4 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
          <span class="fa fa-info"></span>
          <h2> <br> Information </h2>
          <p class="lead"> <br> BlogApp allows you to post, comment, save, and view your blog posts. ... <br>You can publish posts from anywhere, anytime with the app. You can save your post as a draft and edit it on a computer later, or edit your draft from the app on your computer.</p>
        </div>
        <!-- <div class="clearfix visible-md-block visible-sm-block"></div> -->
        <div class="col-lg-4 col-sm-4 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
          <span class="fa fa-bookmark"></span>
          <h2> <br> Quote of the day</h2>
          <p class="lead"> <br> You can buy attention (advertising). You can beg for attention from the media (PR). You can bug people one at a time to get attention (sales). Or you can earn attention by creating something interesting and valuable and then publishing it online for free. </p>
        </div>
      </div> 
    </div>


    <div class="row">
      <h2 style="text-align:center" font-family="Poppins"> 
          <img src="assets/aboutus-img.jpg" >
          <br><br>CREATORS OF BLOGGAPP </h2> 
    <br> 
      <div class="container about">
          <h3 class="text-primary text-xs-center"></h3>
          <hr class="primary">
          <br>
          <div class="row wow fadeInUp" style="text-align:center">
              <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                  <h3 class="text-primary" >SACHIN GUPTA</h3>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                  <h3 class="text-primary">R KAVYA</h3>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                  <h3 class="text-primary">SATYAM KUKREJA</h3>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                  <h3 class="text-primary">SRISHTI SINGH</h3>
              </div>
          </div>
          <hr>
          <br>
      </div>
  </div>
  <br>

  </section>

<section class="call-to-action text-black text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="row">
              <!-- <div class="col-4 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-4 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div> -->
              <div class="col-10">
                <input type="email" class="form-control" placeholder="Example@email.com">
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>


  
<!-- <form>
    <div class="container">
      <h2>Ready to get started? SIGN UP now!</h2>
    </div>
  
    <div class="container" style="background-color:white">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
      </label>
    </div>
  
    <div class="container">
      <input type="submit" value="Subscribe">
    </div>
  </form> -->

	<!-- <div class="row">
		<div class="col-md-3">
			<div class="about-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>About Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
		</div>
        <div class="col-md-3">
			<div class="about-info">
				<img src="https://image.ibb.co/kUASdV/about-image.png" alt="image"/>
				<h2>About Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
		</div>
        <div class="col-md-3">
			<div class="about-info">
				<img src="https://image.ibb.co/kUASdV/about-image.png" alt="image"/>
				<h2>About Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
		</div> -->
		
		<!-- <div class="col-md-9"> -->
			<!-- <div class="about-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label> -->
				  <!-- <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
				  </div> -->
				<!-- </div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comment:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button> -->
				  <!-- </div>
				</div>
			</div>
		</div> -->
	 <!-- </div> -->
<!-- </div> -->

