<div class="row mt-5">
    <div class="col-lg-5">
        <p class="welcome-text mx-4">Welcome to the world’s most popular Blogging Site.</p>
        <p class="more-text mx-4 my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio leo. In ut lectus a turpis bibendum mollis at malesuada lectus.</p>
        <button class="btn get-started-btn mx-4 my-5" routerLink="/posts">Get Started</button>
    </div>
    <div class="col-lg-7">
        <img class="home-page-img" src="assets/home-page-img.png" alt="">
    </div>
</div>


